.user-table {
  width: 63rem !important;
  margin: 2rem auto 0 auto;
  vertical-align: middle !important;
  background-color: var(--primary);
  border-color: var(--secondary) !important;
  border-radius: 0.5rem;
}
