.add-event-form {
  width: 60rem;
  background-color: var(--primary);
  margin: 2rem auto 0 auto;
  padding: 2rem;
  border-radius: 0.5rem;
}

.date-picker {
  width: 100%;
}

/* .note-info {
  color: red;
  margin-top: 0;
  margin-bottom: 1rem;
} */