.add-event-form {
  width: 60rem;
  background-color: var(--primary);
  margin: 2rem auto 0 auto;
  padding: 2rem;
  border-radius: 0.5rem;
}

.note-info {
  color: red;
  font-style: oblique;
  margin-top: 1rem;
}

.input-guest-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.add-guest-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  cursor: pointer;
  color: var(--secondary);
  font-size: 1.5rem;
}

.guest-badge-group {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem 0.5rem 0 0.5rem;
}

.form-button {
  width: 90%;
  margin: 1.5rem 5% 0 5%;
  font-weight: bold;
}
