html,
:root {
  --primary: #dbe2ef;
  --secondary: #3f72af;
  --third: #112d4e;
  --back: #f9f7f7;
  --text-light: #ffffff;
  --text-dark: #000000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

span {
  vertical-align: middle;
}

svg {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

a {
  color: inherit !important;
}

.page-title {
  margin-top: 1rem !important;
  text-align: center;
}

.btn-primary {
  background-color: var(--secondary) !important;
  border-color: var(--secondary) !important;
  color: var(--text-light) !important;
}

.card {
  background-color: var(--primary) !important;
}

.tooltip-inner {
  background-color: var(--back) !important;
  color: var(--text-dark) !important;
  box-shadow: 0px 0px 4px var(--secondary);
  opacity: 1 !important;
}
.tooltip.bs-tooltip-right .tooltip-arrow::before {
  border-right-color: var(--back) !important;
}
.tooltip.bs-tooltip-left .tooltip-arrow::before {
  border-left-color: var(--back) !important;
}
.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: var(--back) !important;
}
.tooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: var(--back) !important;
}

.modal {
  margin-top: 10rem;
}

.loading-spinner {
  display: flex !important;
  margin: 2rem auto;
  color: var(--primary);
}
