html,
:root {
  --primary: #61C0BF;
  --secondary: #BBDED6;
  --text: #2d806c;
  --back: #FCFDF2;
  --peach: #FFB6B9;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

span {
  vertical-align: middle;
  color: var(--text);
}

svg {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

h1 {
  margin-top: 1rem !important;
  text-align: center;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}
